<div class="container" style="padding: 8px;">
    
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; width: 100%">
        <div class="summaryCard">
            <h3>Total Active Projects</h3>
            <h2>412</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Total Revenue</h3>
            <h2>$221,324.50</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Total Invoiced</h3>
            <h2>$16 703</h2>
        </div>

        <div class="summaryCard">
            <h3>Total Ave GP%</h3>
            <h2>28%</h2>
        </div>
    </div>
    
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; width: 100%">
        <div class="summaryCard">
            <h3>Jobs By Workshop</h3>
            <h2>NW-  BW-</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Total Jobs By Month</h3>
            <h2>46</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Total Profit</h3>
            <h2>$562 128</h2>
        </div>

        <div class="summaryCard">
            <h3>Total Change Orders</h3>
            <h2>55</h2>
        </div>
    </div>

    
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; width: 100%">
        <div class="summaryCard">
            <h3>Pulleys Recieved</h3>
            <h2>151</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Pulleys Stripped</h3>
            <h2>46</h2>
        </div>
    
        <div class="summaryCard">
            <h3>Ave Stripping Days</h3>
            <h2>21</h2>
        </div>

        <div class="summaryCard">
            <h3>Total Quoting Days</h3>
            <h2>12</h2>
        </div>
    </div>

</div>